In [1]:
import pandas as pd
import sqlite3

## 1. Create a connection to the database using the library sqlite3.

In [2]:
con = sqlite3.connect('data/checking-logs.sqlite')

## 2. Using only one query for each of the groups, create two dataframes: test_results and control_results with the columns time and avg_diff and only two rows.

In [43]:
query_test = """
WITH users_with_both_times AS(
    SELECT uid
    FROM test t
    WHERE t.first_commit_ts < t.first_view_ts
        AND t.labname != 'project1'
    INTERSECT
    SELECT uid
    FROM test t
    WHERE t.first_commit_ts >= t.first_view_ts
        AND t.labname != 'project1'
)
SELECT
    CASE 
        WHEN t.first_commit_ts > t.first_view_ts THEN 'after'
        ELSE 'before'
    END AS time,
    AVG((CAST(strftime('%s', t.first_commit_ts) AS INT) - dl.deadlines) / 3600.0) AS avg_diff
FROM test t
JOIN deadlines dl ON t.labname = dl.labs
JOIN users_with_both_times u ON t.uid = u.uid
WHERE t.labname != 'project1'
GROUP BY time
"""

In [44]:
test_results = pd.read_sql(query_test, con)
test_results

     time    avg_diff
0   after -105.229241
1  before  -61.156632

In [47]:
query_control = """
WITH users_with_both_times AS(
    SELECT uid
    FROM control c
    WHERE c.first_commit_ts < c.first_view_ts
        AND c.labname != 'project1'
    INTERSECT
    SELECT uid
    FROM control c
    WHERE c.first_commit_ts >= c.first_view_ts
        AND c.labname != 'project1'
)
SELECT
    CASE 
        WHEN c.first_commit_ts > c.first_view_ts THEN 'after'
        ELSE 'before'
    END AS time,
    AVG((CAST(strftime('%s', c.first_commit_ts) AS INT) - dl.deadlines) / 3600.0) AS avg_diff
FROM control c
JOIN deadlines dl ON c.labname = dl.labs
JOIN users_with_both_times u ON c.uid = u.uid
WHERE c.labname != 'project1'
GROUP BY time
"""

In [49]:
control_results = pd.read_sql(query_control, con)
control_results

     time    avg_diff
0   after -118.144571
1  before  -99.901448

In [50]:
con.close()

## 3. Have the answer: did the hypothesis turn out to be true and the page does affect the students’ behavior?

Новостной канал действительно помог улучшить дисциплину студентов. Среднее время между сдачей работ и дедлайном увеличилось на 26 часов.