In [17]:
import pandas as pd

## 1. Открытие и чтение CSV-файла, назначие столбца ID в качестве индекса.

In [18]:
df = pd.read_csv(
    '../../data/auto.csv',
    index_col= 'ID',)
df.tail()

        CarNumber    Make_n_model  Refund    Fines  History
ID
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

## 2. Вычисление количества наблюдений, используя count().

In [19]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## 3. Очистка от дубликатов в столбцах CarNumber, Make_n_model, Fines.

In [20]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last', inplace=True)

In [21]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## 4. Работа с отстутствующими значениями.

In [22]:
df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [23]:
df.dropna(thresh= len(df) - 500, axis=1, inplace=True)

In [24]:
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [25]:
df['Refund'] = df['Refund'].ffill()

In [26]:
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [27]:
df["Fines"].fillna(df["Fines"].mean(skipna=True), inplace=True)

C:\Users\шрш\AppData\Local\Temp\ipykernel_8104\3898622797.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Fines"].fillna(df["Fines"].mean(skipna=True), inplace=True)

In [28]:
df.isna().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## 5. Разделение и анализ make и model.

In [29]:
df['Make'] = df['Make_n_model'].apply(lambda x: x.split(' ')[0])
df['Model'] = df['Make_n_model'].apply(lambda x: ' '.join(x.split(' ')[1:]))

In [30]:
df.drop(columns=['Make_n_model'], inplace=True)

In [31]:
df.to_json('auto.json', orient='records', indent=4)