In [2]:
import pandas as pd

## 1. Загрузка и фильтрация данных (read_csv)

In [29]:
df = pd.read_csv(
    '../../data/feed-views.log',
    skiprows=[2, 3],
    delimiter='\t',
    skipfooter=2,
    names=["datetime", "user"],
    index_col='datetime',
    engine='python')

## 2. Переименовываем ось индексов datetime в date_time

In [30]:
df.rename_axis('date_time', inplace=True)

## 3. Вывод и сохранение

In [31]:
df.to_csv('../../data/feed-views-semicolon.log', sep=';')

In [25]:
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [26]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel